.right {
    text-align: right;
}

.center {
    text-align: center;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #000;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: top left 1;
}

.bordered td,
th {
    border: solid;
    border-width: 1.5;
}

.bordered-self {
    border: solid;
    border-width: 1.5
}

.no-border td,
th {
    border: none;
}

.no-border-self {
    border: none;
}

.bullets li {
    list-style-type: disc;
    padding-left: 20px;
}

.checkbox-bullets li {
    list-style-type: square;
    padding-left: 20px;
}

.checkbox-empty-padded li {
    padding-left: 20px;
}

.wide-margin {
    padding-left: 20%;
}

.big-space {
    padding-bottom: 200px;
    padding-left: 50;
    padding-top: 50;
}

.red text {
    color: red;
}

.aphabetical {
    list-style-type: lower-alpha;
}

.roman {
    list-style-type: lower-roman;
}